/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
}

.navbar .logo {
  font-size: 24px;
  color: white;
  text-decoration: none;
}

/* For larger screens */
.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
}

.nav-links a.active-link {
  background-color: #575757;
  border-radius: 5px;
}

.menu-toggle {
  display: none; /* Hidden by default on large screens */
  background: none;
  border: none;
  color: white;
  font-size: 30px;
}

/* Show the menu toggle on small screens */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none; /* Hide the links by default */
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    width: 100%;
    padding: 10px 0;
  }

  .nav-links.active {
    display: flex; /* Display the menu when active */
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }

  .menu-toggle {
    display: block; /* Show the toggle button on small screens */
  }
}

